<html>
<head>
  <!-- Bootstrap core CSS -->
  <link href={{ url_for('static', filename='bootstrap.css') }} rel="stylesheet">
</head>

<body>
  <a href="{{ protocol }}://{{ api_url }}{% if server_port %}:{{ server_port }}{% endif %}/logout">Logout</a>
  <div class="container">
    <div class="pt-2 tab-pane" id="resultstab">
      <div class="row">
        <div class="col-md">
          <h3>Admin - App Management</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <div class="input-group">
            <input type="text" class="form-control mr-2" id="search-appname"> 
            <button class="btn btn-primary mb-2 mr-2" id="search-btn">Search</button>
            <button class="btn btn-secondary mb-2" id="create-btn" data-toggle="modal" data-target="#modal-appcreate">Create</button>
          </div>
        </div>
        <div class="col-md" id="search-query-error">
        </div>
      </div>

      <div class="row">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">App Name</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody id="results-table">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div id="page-alerts">
  </div>

  <!-- App Create Modal -->
  <div id="modal-appcreate" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">New App</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-md">
              <div id="createapp-modal-alerts">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="input-group">
                <input type="text" class="form-control mr-2" id="appcreate-name">
                <button class="btn btn-primary mb-2" id="appcreate-add-btn">Add</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- New App Data Modal -->
  <div id="modal-newappdata" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">New App Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-md">
              <p><strong>Once this window is closed the app secret will not be visiable again - make a record of it now</strong></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <label for="newapp-name">Name</label>
              <div class="input-group">
                <input readonly type="text" class="form-control mr-2" id="newapp-name">
              </div>
              <label for="newapp-key" class="mt-2">App Key</label>
              <div class="input-group">
                <input readonly type="text" class="form-control mr-2" id="newapp-key">
              </div>
              <label for="newapp-secret" class="mt-2">App Secret</label>
              <div class="input-group">
                <textarea readonly class="form-control mr-2" id="newapp-secret"></textarea>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- App Key Modal -->
  <div id="modal-appkey" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">App Key</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-md">
              <div class="input-group">
                <input readonly type="text" class="form-control mr-2" id="app-key">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Bootstrap JavaScript & JQuery -->
  <script src={{ url_for('static', filename='jquery.js') }}></script>
  <script src={{ url_for('static', filename='bootstrap.js') }}></script>

  <script>
    function getCookie(name) {
      var value = "; " + document.cookie;
      var parts = value.split("; " + name + "=");
      if (parts.length == 2) return parts.pop().split(";").shift();
    }

    $("#search-btn").click(function(){
      var app_name = $("#search-appname").val();
      $("#results-table").empty()
      var check_result = $.ajax({
              url: "{{ protocol }}://{{ api_url }}{% if server_port %}:{{ server_port }}{% endif %}/api/v1/apps/find",
              type: "POST",
              headers: {'X-CSRF-TOKEN': getCookie('csrf_access_token')},
              contentType:"application/json; charset=utf-8",
              dataType:"json",
              data: JSON.stringify({"appname": app_name}),
              success: function (result){
                for (var key in result) {
                  if (result.hasOwnProperty(key)) {           
                    $("#results-table").append('<tr class="table-light" id="' + result[key] +'">' + 
                      '<td>' + key + '</td>' + 
                      '<td><button class="btn btn-sm btn-outline-primary mr-2" data-toggle="modal" data-target="#modal-appkey" data-appid="' + result[key] + '">Show Key</button>' +
                      '<button class="btn btn-sm btn-outline-danger mr-2" onclick="delete_app(this);" data-appid="' + result[key] + '">Delete</button>' +
                      '</td></tr>')
                  }
                }
              },
              error: function (result){
                $("#page-alerts").empty()
                $("#page-alerts").append('<div id="ajax-page-error" class="alert alert-danger" role="alert">' +
                                           'Could not find user - ' + email_address +
                                           '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                           '<span aria-hidden="true">&times;</span>' +
                                           '</button>' +
                                           '</div>')
                $("#ajax-page-error").alert()
                console.log(result);
              }
      });
    })


    function show_key(button) {
      var app_id = $(button).data("appid");
      
    }

    function delete_app(button) {
      var app_id = $(button).data("appid");

      var check_result = $.ajax({
              url: "{{ protocol }}://{{ api_url }}{% if server_port %}:{{ server_port }}{% endif %}/api/v1/apps/delete",
              type: "POST",
              headers: {'X-CSRF-TOKEN': getCookie('csrf_access_token')},
              contentType:"application/json; charset=utf-8",
              dataType:"json",
              data: JSON.stringify({"appid": app_id}),
              success: function (result){
                $("#" + app_id).remove();
              },
              error: function (result){
                $("#page-alerts").empty()
                $("#page-alerts").append('<div id="ajax-page-error" class="alert alert-danger" role="alert">' +
                                           'Could delete user - ' + user_id +
                                           '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                           '<span aria-hidden="true">&times;</span>' +
                                           '</button>' +
                                           '</div>')
                $("#ajax-page-error").alert()
                console.log(result);
              }
      });

    }


    $("#appcreate-add-btn").click(function(){
      var app_name = $("#appcreate-name").val();
      var check_result = $.ajax({
              url: "{{ protocol }}://{{ api_url }}{% if server_port %}:{{ server_port }}{% endif %}/api/v1/apps/new",
              type: "POST",
              headers: {'X-CSRF-TOKEN': getCookie('csrf_access_token')},
              contentType:"application/json; charset=utf-8",
              dataType:"json",
              data: JSON.stringify({"appname": app_name}),
              success: function (result){
                for (var key in result) {
                  if (result.hasOwnProperty(key)) {
                    $("#results-table").append('<tr class="table-light" id="' + result[key]['id'] +'">' + 
                      '<td>' + key + '</td>' + 
                      '<td><button class="btn btn-sm btn-outline-primary mr-2" data-toggle="modal" data-target="#modal-appkey" data-appid="' + result[key]['id'] + '">Show Key</button>' +
                      '<button class="btn btn-sm btn-outline-danger mr-2" onclick="delete_app(this);" data-appid="' + result[key]['id'] + '">Delete</button>' +
                      '</td></tr>')
                    $("#newapp-name").val(key);
                    $("#newapp-key").val(result[key]['key']);
                    $("#newapp-secret").val(result[key]['secret']);
                  }
                }

                $("#modal-appcreate").modal('hide');
                $("#modal-appcreate").modal('dispose');
                $('#modal-newappdata').modal('show')
              },
              error: function (result){
                $("#createapp-modal-alerts").empty()
                $("#createapp-modal-alerts").append('<div id="ajax-modal-error" class="alert alert-danger" role="alert">' +
                                           'Could not create app -  ' + app_name +
                                           '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                           '<span aria-hidden="true">&times;</span>' +
                                           '</button>' +
                                           '</div>')
                $("#ajax-modal-error").alert()
                console.log("");
              }
      });
    })


    $('#modal-appkey').on('show.bs.modal', function(e) {
      var app_id = e.relatedTarget.dataset.appid;

      var check_result = $.ajax({
              url: "{{ protocol }}://{{ api_url }}{% if server_port %}:{{ server_port }}{% endif %}/api/v1/apps/" + app_id  + "/key",
              type: "GET",
              headers: {'X-CSRF-TOKEN': getCookie('csrf_access_token')},
              success: function (result){
                $("#app-key").val(result);
              },
              error: function (result){
                $("#page-alerts").empty()
                $("#page-alerts").append('<div id="ajax-page-error" class="alert alert-danger" role="alert">' +
                                           'Could get app key' +
                                           '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                           '<span aria-hidden="true">&times;</span>' +
                                           '</button>' +
                                           '</div>')
                $("#ajax-page-error").alert()
                console.log(result);
              }
      });
    })


    $('#modal-appkey').on('hidden.bs.modal', function(e) {
      $("#app-key").val("");
    })


    $('#modal-appcreate').on('hidden.bs.modal', function(e) {
      $("#appcreate-name").val("");
      $("#ajax-modal-error").alert('close');
    })

    $('#modal-newappdata').on('hidden.bs.modal', function(e) {
      $("#newapp-name").val("");
      $("#newapp-key").val("");
      $("#newapp-secret").val("");
      $("#ajax-modal-error").alert('close');
    })





  </script>

</body> 
</html>












        
