<html>
<head>
  <!-- Bootstrap core CSS -->
  <link href={{ url_for('static', filename='bootstrap.css') }} rel="stylesheet">
</head>

<body>
  <a href="https://{{ api_url }}{% if server_port %}:{{ server_port }}{% endif %}/logout">Logout</a><br>
  <br>
  <p>This is a protected page</p>
  {% for group in groups %}
    <p><a href="{{ group.url }}">{{ group.name }}</a></p>
  {% endfor %}
  

  <!-- Bootstrap JavaScript & JQuery -->
  <script src={{ url_for('static', filename='jquery.js') }}></script>
  <script src={{ url_for('static', filename='bootstrap.js') }}></script>

  <script>
    $(document).ready(function(){
      // GET PROCESSORS
      $.ajax({url: "https://{{ api_url }}{% if server_port %}:{{ server_port }}{% endif %}/api",
              type: "GET",
              success: function (result){      
                console.log("ok");
                console.log(result);
                },
              error: function (result){      
                console.log("error");
                console.log(result);
                }
              });
    })
  </script>

</body> 
</html>












        
