<html>
<head>
  <!-- Bootstrap core CSS -->
  <link href={{ url_for('static', filename='bootstrap.css') }} rel="stylesheet">
</head>

<body>
  <a href="{{ protocol }}://{{ api_url }}{% if server_port %}:{{ server_port }}{% endif %}/logout">Logout</a>
  <div class="container">
    <div class="pt-2 tab-pane" id="resultstab">
      <div class="row">
        <div class="col-md">
          <h3>Admin - User Management</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <div class="input-group">
            <input type="text" class="form-control mr-2" id="search-email"> 
            <button class="btn btn-primary mb-2 mr-2" id="search-btn">Search</button>
          </div>
        </div>
        <div class="col-md" id="search-query-error">
        </div>
      </div>

      <div class="row">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Email Address</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody id="results-table">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div id="page-alerts">
  </div>


  <!-- User Edit Modal -->
  <div id="modal-useredit" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="title-useredit"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-md">
              <div id="edituser-modal-alerts">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md">
              <label for="useredit-userid">User ID</label>
              <div class="input-group">
                <input type="text" class="form-control mr-2" id="useredit-userid" readonly>
              </div>
              <label class="mt-3" for="useredit-email">Email Address</label>
              <div class="input-group">
                <input type="text" class="form-control mr-2" id="useredit-email">
              </div>
              <label class="mt-3" for="useredit-status">Status</label>
              <div class="input-group">
                <input type="text" class="form-control mr-2" id="useredit-status">
                  <div class="input-group-append" id="useredit-status-button">
                  </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>




  <!-- Bootstrap JavaScript & JQuery -->
  <script src={{ url_for('static', filename='jquery.js') }}></script>
  <script src={{ url_for('static', filename='bootstrap.js') }}></script>

  <script>
    function getCookie(name) {
      var value = "; " + document.cookie;
      var parts = value.split("; " + name + "=");
      if (parts.length == 2) return parts.pop().split(";").shift();
    }

    $("#search-btn").click(function(){
      var email_address = $("#search-email").val();
      $("#results-table").empty()
      var check_result = $.ajax({
              url: "{{ protocol }}://{{ api_url }}{% if server_port %}:{{ server_port }}{% endif %}/api/v1/users/find",
              type: "POST",
              headers: {'X-CSRF-TOKEN': getCookie('csrf_access_token')},
              contentType:"application/json; charset=utf-8",
              dataType:"json",
              data: JSON.stringify({"email": email_address}),
              success: function (result){
                for (var key in result) {
                  if (result.hasOwnProperty(key)) {           
                    $("#results-table").append('<tr class="table-light" id="' + result[key] +'">' + 
                      '<td>' + key + '</td>' + 
                      '<td><button class="btn btn-sm btn-outline-primary mr-2" data-toggle="modal" data-target="#modal-useredit" data-email="' + 
                         key + '" data-userid="' + result[key] + '">Edit</button>' +
                      '<button class="btn btn-sm btn-outline-danger mr-2" onclick="delete_user(this);" data-userid="' + result[key] + '">Delete</button>' +
                      '</td></tr>')
                  }
                }
              },
              error: function (result){
                $("#page-alerts").empty()
                $("#page-alerts").append('<div id="ajax-page-error" class="alert alert-danger" role="alert">' +
                                           'Could not find user - ' + email_address +
                                           '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                           '<span aria-hidden="true">&times;</span>' +
                                           '</button>' +
                                           '</div>')
                $("#ajax-page-error").alert()
                console.log(result);
              }
      });
    })


    $('#modal-useredit').on('show.bs.modal', function(e) {
      var user_email = e.relatedTarget.dataset.email;
      var user_id = e.relatedTarget.dataset.userid;
      $('#title-useredit').html("Edit user - " + user_email);
      $('#useredit-userid').val(user_id);
      $('#useredit-email').val(user_email);

      var check_result = $.ajax({
              url: "{{ protocol }}://{{ api_url }}{% if server_port %}:{{ server_port }}{% endif %}/api/v1/users/" + user_id  + "/details",
              type: "GET",
              headers: {'X-CSRF-TOKEN': getCookie('csrf_access_token')},
              success: function (result){
                for (var key in result) {
                  if (result.hasOwnProperty(key)) {
                     if (key == "status") {
                       $('#useredit-status').val(result[key]);
                       if ((result[key] == "active") || (result[key] == "reset") || (result[key] == "new")) {
                         $("#useredit-status-button").append('<button class="btn btn-outline-secondary" data-action="reset" data-userid="' + user_id + '"' +
                            ' onclick="change_user_status(this);" "type="button">Reset</button>')
                         $("#useredit-status-button").append('<button class="btn btn-outline-secondary" data-action="disabled" data-userid="' + user_id + '"' +
                            ' onclick="change_user_status(this);" type="button">Disable</button>')
                       } else if (result[key] == "disabled") {
                         $("#useredit-status-button").append('<button class="btn btn-outline-secondary" data-action="reset" data-userid="' + user_id + '"' +
                            ' onclick="change_user_status(this);" "type="button">Reset</button>')
                       }
                     }
                  }
                }
              },
              error: function (result){
                console.log(result);
              }
      });
    })

    $('#modal-useredit').on('hidden.bs.modal', function(e) {
      $("#useredit-status-button").empty();
    })


    function change_user_status(button) {
      var user_id = $(button).data("userid");
      var action = $(button).data("action");

      var check_result = $.ajax({
              url: "{{ protocol }}://{{ api_url }}{% if server_port %}:{{ server_port }}{% endif %}/api/v1/users/" + user_id + "/set/status",
              type: "POST",
              headers: {'X-CSRF-TOKEN': getCookie('csrf_access_token')},
              contentType:"application/json; charset=utf-8",
              dataType:"json",
              data: JSON.stringify({"value": action}),
              success: function (result){
                $('#useredit-status').val(result['new_value']);
              },
              error: function (result){
                $("#edituser-modal-alerts").empty()
                $("#edituser-modal-alerts").append('<div id="ajax-page-error" class="alert alert-danger" role="alert">' +
                                           'Could not change user status' +
                                           '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                           '<span aria-hidden="true">&times;</span>' +
                                           '</button>' +
                                           '</div>')
                $("#ajax-page-error").alert()
                console.log(result);
              }
      });

    }


    function delete_user(button) {
      var user_id = $(button).data("userid");

      var check_result = $.ajax({
              url: "{{ protocol }}://{{ api_url }}{% if server_port %}:{{ server_port }}{% endif %}/api/v1/users/delete",
              type: "POST",
              headers: {'X-CSRF-TOKEN': getCookie('csrf_access_token')},
              contentType:"application/json; charset=utf-8",
              dataType:"json",
              data: JSON.stringify({"userid": user_id}),
              success: function (result){
                $("#" + user_id).remove();
              },
              error: function (result){
                $("#page-alerts").empty()
                $("#page-alerts").append('<div id="ajax-page-error" class="alert alert-danger" role="alert">' +
                                           'Could delete user - ' + user_id +
                                           '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                           '<span aria-hidden="true">&times;</span>' +
                                           '</button>' +
                                           '</div>')
                $("#ajax-page-error").alert()
                console.log(result);
              }
      });

    }

  </script>

</body> 
</html>












        
